---
import Tag from "@/components/Tag.astro";
import {usePath} from "@/hooks/usePath";

const {title, dateOf, href, numberOf} = Astro.props;

const base = import.meta.env.BASE_URL;
---
<div class="pb:5rem">
    <time class="font-size:1rem">{dateOf}</time>
    <h2 class="m:0">
        <a href={usePath(href)}
           class="font-size:3rem font-weight:500 text-wrap:balance line-height:1.25 m:0 pt:0.25rem text-decoration:none color:#352621@light color:#DBAFA0@dark">
            {title}
        </a>
    </h2>
    <div class="flex flex:row gap:0.5rem pt:1rem">
        <Tag>Categoría</Tag>
        <Tag>#{numberOf}</Tag>
    </div>
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s.
        <br/>
        <a class="color:currentColor text-decoration-color:rgb(241,114,51)"
           href={usePath(href)}>Leer más</a>
    </p>
</div>