---
const {language, equivalentHref} = Astro.props;

const base = import.meta.env.BASE_URL;

const showEquivalentHref = !!equivalentHref;
const languageOf = {
    en: {
        books: 'Books',
        notes: 'Notes',
        lang: 'Language',
    },
    es: {
        books: 'Libros',
        notes: 'Notas',
        lang: 'Idioma',
    }
} as const;

const urlOf = {
    en: {
        home: `${base}`,
        books: `${base}`,
        notes: `${base}biblenotes`
    },
    es: {
        home: `${base}es`,
        books: `${base}es/books`,
        notes: `${base}NotasBiblicas`
    }
} as const;
---
<header class="flex flex:row justify-content:space-between align-items:center p:2rem mb:6rem">
    <a href={urlOf[language]['home']} class="text-decoration:none color:currentColor">
        <h1 class="font-size:2rem font-weight:400">Bibleserralta.com</h1>
    </a>

    <nav class="flex flex:row gap:1rem">
        <a href={urlOf[language]['books']}
           class="color:currentColor text-decoration-color:rgb(241,114,51) text-decoration:underline">
            {languageOf[language]['books']}
        </a>
        <a href={urlOf[language]['notes']}
           class="color:currentColor text-decoration-color:rgb(241,114,51) text-decoration:underline">
            {languageOf[language]['notes']}
        </a>
        <a href={equivalentHref}
           class={`${showEquivalentHref ? 'flex' : 'hidden'} color:currentColor text-decoration-color:rgb(241,114,51) text-decoration:underline`}>
            {languageOf[language]['lang']}
        </a>
    </nav>
</header>