---
import '@/styles/global.css'

import ThanksRead from "@/components/ThanksRead.astro";
import NavigatorBottom from "@/components/NavigatorBottom.astro";
import NavigatorTop from "@/components/NavigatorTop.astro";
import Container from "@/components/Container.astro";

const {title, equivalentHref, language = 'en', showThanksRead = true} = Astro.props;
---

<html class="dark" lang={language}>
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/svg+xml" href="/favicon-light.svg" media="(prefers-color-scheme: light)"/>
    <link rel="icon" type="image/svg+xml" href="/favicon-dark.svg" media="(prefers-color-scheme: dark)"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content={Astro.generator}>
    <title>{title}</title>
    <script>
        import "@master/css";
    </script>
</head>
<body class="min-h:100vh background-color:hsl(39|93%|99%/1)@light background-color:#49243E@dark color:#352621@light color:#DBAFA0@dark">

<NavigatorTop {...{equivalentHref, language}}/>
<Container>
    <slot/>
</Container>
<ThanksRead {language} show={showThanksRead}/>
<NavigatorBottom {...{language, equivalentHref}}/>

</body>
</html>